fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiosqlite
asyncpg
redis
celery
qdrant-client
pydantic-settings
alembic
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator
pandas
pdfplumber
google-generativeai
